.Timer {
  text-align: center;
  background-color: rgb(139, 206, 119);
}
h3 {
  font-size: 70px;
  color: rgba(99, 85, 102, 0.589)
}
h4{
  margin-top:-70px;
  font-size: 20px;
  color: rgba(141, 131, 139, 0.555);
}
input{
  text-align: center;
  width: 5rem;
  height: 3rem;
  border-radius: 15px;
  color: green;
  font-size: 20px;
}